.portfolio {
    margin: 0 auto;
    text-align: left;
    padding: 0 70px 0 70px;
    margin-top: 101px;
    margin-bottom: 125px;
}

.portfolio__title {
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 50px;
}

.portfolio__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;

}

.portfolio__link-text:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease-out;
}

.portfolio__link-text {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    opacity: 1;
    transition: opacity 0.5s ease-out;

}

.portfolio__arr {
    margin: 0;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.portfolio__arr:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease-out;
}


.portfolio__list-item {
    border-bottom: 1px solid #424242;
    margin-top: 20px;
}

.portfolio__list-item:last-child {

    border: none;
}

@media screen and (max-width: 840px) {
    .portfolio {
        padding: 0 50px 0 50px;
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .portfolio__link-text {
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 540px) {
    .portfolio {
        padding: 0 14px 0 14px;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .portfolio__link-text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__arr {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }


    .portfolio__list-item:first-child {
        padding-top: 0;
        margin: 0;
    }

    .portfolio__list-item {
        margin: 0;
        margin-top: 15px;

    }

    .portfolio__list-item:last-child {
        margin-top: 13px;
    }

    .portfolio__link {
        padding-bottom: 20px;
    }
}