.about-project {
  text-align: left;
  padding: 0 70px 0 70px;
}

.about-project__title {
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin-top: 110px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.about-project__info {
  margin: 0;
  display: flex;
  gap: 40px;
  margin-top: 70px;
}

.about-project__info-title {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__info-text {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 26px;
}

.abou-_project__item {
  max-width: 550px;
}

.about-project__weeks {
  margin: 0;
  display: flex;

  margin-top: 110px;
  height: 36px;
}

.about-project__week1 {
  color: #000;

  background: #3ddc84;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__week4 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background: #303030;
}

.about-project__tasks {
  margin: 0;
  display: flex;
  margin-top: 14px;
}

.about-project__back {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  width: 20%;
}

.about-project__front {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  width: 80%;
}

@media screen and (max-width: 840px) {
  .about-project {
    padding: 0 50px 0 50px;
  }

  .about-project__title {
    margin-top: 90px;
  }

  .about-project__info-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .about-project__weeks {
    margin-top: 93px;
  }
}

@media screen and (max-width: 540px) {
  .about-project {
    padding: 0 18px 0 18px;
  }

  .about-project__title {
    margin-top: 70px;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .about-project__info {
    flex-direction: column;
    margin-top: 60px;
    gap: 58px;
  }

  .about-project__info-title {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  .about-project__info-text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__weeks {
    margin-top: 60px;
    height: 35px;
  }

  .about-project__week1 {
    font-size: 11px;
    width: 43%;
  }

  .about-project__week4 {
    font-size: 11px;
  }

  .about-project__tasks {
    margin-top: 10px;
  }

  .about-project__back {
    font-size: 11px;
    width: 43%;
  }

  .about-project__front {
    font-size: 11px;
  }
}
